@import '../../node_modules/modularscale-sass/libsass/scss/main';
@import url('https://fonts.googleapis.com/css?family=Bungee|Lato:400,400i,700,700i,900,900i|Montserrat:400,500,600,700,800,900');

$franklin: 'Franklin Gothic Medium';
$arial: 'Arial Narrow';

$modularscale: (base: 1em, ratio: 1.15);
$fontMontserrat: "Montserrat", sans-serif;
$fontBungee: "Bungee", cursive;
$fontLato: "Lato", sans-serif;

h1 {
    font-size: ms(5);
}

h2 {
    font-size: ms(4);
}

h3 {
    font-size: ms(3);
}

h4 {
    font-size: ms(2);
}

p,
a,
li,
span {
    font-size: ms(1);
}