@import '../../node_modules/modularscale-sass/libsass/scss/main';
@import url('https://fonts.googleapis.com/css?family=Bungee|Lato:400,400i,700,700i,900,900i|Montserrat:400,500,600,700,800,900');
$fontMontserrat: "Montserrat",
sans-serif;
$fontBungee: "Bungee",
cursive;
$fontLato: "Lato",
sans-serif;
$franklin: 'Franklin Gothic Medium';
$arial: 'Arial Narrow';


$modularscale: ( base: 1em, ratio: 1.5);