@charset 'UTF-8';
// 1. Configuration and helpers
@import 'abstracts/abstracts';
// 2. Vendors
@import "vendor/vendors";
// 3. Base stuff
@import "base/base";
// 4. Layout-related sections
@import "layout/layout";
// 5. Components
@import "components/components";
// 6. Page-specific styles
@import "pages/pages";
// 7. Themes
@import "themes/default";
//8. autre
//backgroud color: #F3DBC7;
//element.style {
//}
//_border-radius.scss:11
//.list-group-item:first-child {
//    border-top-left-radius: .25rem;
//    border-top-right-radius: .25rem;
//}
//_list-group.scss:44
//.list-group-item {
//    position: relative;
//    display: block;
//    padding: .75rem 1.25rem;
//    margin-bottom: -1px;
//    background-color: #fff;
//    border: 1px solid rgba(0,0,0,.125);
//}
//_reboot.scss:24
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  //  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 5em 0 0 0; //  background-image: url("/images/beard_graphic_1x.png");
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  height: 10vh;
  color: royalblue;
  background-color: aliceblue;
  font-family: $code-font-stack;
  @include media(">small", "<=medium") {
    width: 50%;
    color: navajowhite;
    background-color: forestgreen;
    border: 1px solid blue;
  }
  @include media(">medium", "<=large") {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: darkturquoise;
    background-color: deeppink;
    border: 1px solid blue;
  }
  @include media(">=large") {
    display: flex;
  }
}

//    @include gridflex(primary);
.grid-item {
  @include flexfix;
  @include bckg($vertdegris);
  align-self: stretch;
  margin: 2em 1%;
  height: 100%;
  max-width: 100vw;
  &_header {
    @include flexfix;
    flex: 1 1 100%;
    padding: 2% 0;
  }
  &_flexed {
    @include flexfix;
    //    @include gridflex(primary);
    display: flex;
    flex-flow: row column;
    .post-info {
      @include flexfix;
      @include gridflex(primary);
    }
    .post-description {
      @include flexfix;
      @include gridflex(primary);
    }
    .post-logo {
      @include flexfix;
      @include gridflex(primary);
    }
  }
}

.post {
  font-size: ms(0);
  &-info {
    display: flex;
    flex-flow: column wrap;
    //    text-align: center;
    //    background: #afe;
    //    align-content: space-between;
    //    align-items: center;
    p {
      //      color: wheat;
      margin: 0;
      padding: 0;
      background-color: mix(firebrick, sandybrown);
      flex: 1 0 33.33%;
      &:first-child {}
      &:nth-child(1n+2) {
        color: aquamarine;
      }
      &:last-child {
        color: azure;
      }
    }
  }
  &-description {
    background: #fea;
  }
  &-logo {
    background: #efaafe;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.list-group {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
//  align-content: space-around;
////  align-items: center;
  &_item {
//    @include bckg($vertdegris);
    background-color: #fff; 
    border: 1px solid;
    padding: 0.75rem 1.25rem;
//    margin: 1% 0;
    max-width: 100%;
    flex: 1 2;
    text-align: center;
    
    h4{
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}