@charset 'UTF-8';
// 1. Configuration and helpers
@import 'abstracts/abstracts';
// 2. Vendors
@import "vendor/vendors";
// 3. Base stuff
@import "base/base";
// 4. Layout-related sections
@import "layout/layout";
// 5. Components
@import "components/button";
// 6. Page-specific styles
@import "pages/pages";
// 7. Themes
@import "themes/default";
// $modularscale: ( base: 1em, ratio: 1.5);
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);
//8. autre
h2 {
  // font-size: ms(5);
  color: royalblue;
  font-family: $code-font-stack;
  @include media("≥phone", "≤tablet") {
    line-height: 1.5;
    color: mediumvioletred;
  }
}

.wrapper {
  @include container-fluid;
  font-size: ms(1);
  color: $text-color !important;
  &-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }
  &-footer {
    display: flex;
  }
}

//    @include gridflex(primary);
.grid-item {
  @include flexfix;
  align-self: stretch;
  margin: 2em 1%;
  border: 0.1em solid black;


  & &_header {
    @include flexfix;
    flex: 1 1 100%;
    padding: 2% 0; //    align-self: center;
  }



  & &_flexed {
    @include flexfix; //    @include bckg($vertdegris);
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
    align-items: flex-start;
    border: 1px solid black;
    .post-info {
      @include gridflex(primary);
      @include flexfix;
      font-family: $text-font-stack;
      font-size: ms(0); //      height: 100px;
    }
    .post-description {
      @include flexfix;
      @include gridflex(primary);
    }
    .post-logo {
      @include flexfix;
      @include gridflex(primary);

    }

  }


}

.post {
  @include bckg($vertdegris);
  & &-header {
    margin: 0 0 1em 0;

    background-color: map-get($vertgrise, brun);
  }
  & &-logo {

    background-color: map-get($vertgrise, rosegris);
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  & &-description {
    //    background-color: color(sexy);
    //    color: mediumvioletred;
  }

}

.list-group {
  display: flex;
  flex-flow: wrap column;
  padding-left: 0;
  margin: 0;
  border: 5px solid white; //  display: inline-block;
  & &_item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 100%;
    color: #495057;
    text-align: inherit;
    align-self: stretch;

    h3 {
      border: 1px solid white;
      text-transform: uppercase;
      &:after {
        content: ' : ';
        width: 10px;

      }
    }

  }
}
