@charset 'UTF-8';
// 1. Configuration and helpers
@import 'abstracts/abstracts';
// 2. Vendors
@import "vendor/vendors";
// 3. Base stuff
@import "base/base";
// 4. Layout-related sections
@import "layout/layout";
// 5. Components
@import "components/components";
// 6. Page-specific styles
@import "pages/pages";
// 7. Themes
@import "themes/default";
//8. autre
//backgroud color: #F3DBC7;
//element.style {
//}
//_border-radius.scss:11
//.list-group-item:first-child {
//    border-top-left-radius: .25rem;
//    border-top-right-radius: .25rem;
//}
//_list-group.scss:44
//.list-group-item {
//    position: relative;
//    display: block;
//    padding: .75rem 1.25rem;
//    margin-bottom: -1px;
//    background-color: #fff;
//    border: 1px solid rgba(0,0,0,.125);
//}
//_reboot.scss:24
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  //  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 20vh 0 0 0; //  background-image: url("/images/beard_graphic_1x.png");
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  height: 10vh;
  color: royalblue;
  background-color: aliceblue;
  font-family: $code-font-stack;
  @include media(">phone", "<=tablet") {
    width: 90vw;
    //    margin: 0 auto;
    text-align: center;
    color: navajowhite;
    background-color: forestgreen;
    border: 1px solid blue;
  }
  @include media(">tablet", "<=desktop") {
    width: 75vw;
    margin: 0 auto;
    text-align: center;
    color: darkturquoise;
    background-color: deeppink;
    border: 1px solid blue;
  }
  @include media(">=desktop") {
    //    display: flex;
    color: mix(darkturquoise, deeppink);
  }
}

//#e58c8d
//#048CC2
//#04749C
//#7b9a9f
//#28474a
//    @include gridflex(primary);
.grid-article {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  @include bckg($vertdegris);
  margin: 2vh 1% !important;
  display: flex;
  justify-content: center; //  align-content: center;
  flex-flow: row wrap;
}

.grid-title {
  @include flexfix;
  flex: 1 3 100%;
  border-bottom: 4px solid white;
  @include media("<=tablet") {
    margin: 0;
    width: 100%;
    align-self: stretch;
  }
}

.grid-data {
  display: flex;
  @include flexfix;
  .grid {
    &-item {
      @include flexfix;
    }
    &-logo {
      @include flexfix;
      align-self: center;
      img {
        border-radius: 5px;
        max-height: 75vh;
        max-width: 50vw;
      }
    }
  }
  @include media(">=tv") {
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    .grid {
      &-item {
        order: 2;
        width: calc(100% * (3/4));
        align-self: center;
        margin: 2vh 0 !important;
        section {
          margin: 5vh 1% !important;
        }
      }
      &-logo {
        order: 1;
        max-width: 100%;
        max-height: 100%;
        width: calc(100% * (1/4));
        height: 100%;
        align-self: flex-start;
        margin: 2vh 0 !important;
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  @include media(">=desktop", "<tv") {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    .grid {
      &-logo {
        align-self: flex-end;
        max-width: 100%;
        max-height: 100%;
        width: calc(100% * (1/4));
      }
      &-item {
        width: calc(100% * (3/4));
        //        align-self: center;
      }
    }
  }
  @include media(">=tablet", "<desktop") {
    flex-flow: wrap row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
    .grid {
      &-logo {
        order: 1;
        align-self: flex-start;
        width: calc(100% * (2/4) - (1%*2));
        margin: 0 1%;
        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
      $lime: #afe333;
      &-item {
        width: calc(100% * (2/4) - (1%*2));
        margin: 0 1%;
        background-color: lighten($lime, 15%);
      }
      &-info {
        order: 2;
        &:first-child {
          background-color: adjust-hue($lime, 20%);
          //          width: calc(100% * (2/4));
        }
        &:last-child {
          background-color: adjust-hue($lime, 20%);
          //          width: calc(100% * (2/4));
        }
      }
    }
  }
  @include media(">=phone", "<tablet") {
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    .grid {
      &-logo {
        order: 1;
        align-self: center;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      &-item {
        order: 2;
        //        width: calc(100% * (3/4));
        align-self: center;
      }
    }
  }
  @include media("<=phone") {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .grid {
      &-logo {
        order: 1;
        align-self: flex-start;
        img {
          display: block;
          margin: 0 auto;
          max-height: 50% !important;
          max-width: 50% !important;
        }
      }
      &-item {
        order: 2;
        align-self: center;
      }
      &-info{
        
        &:first-child{
          display: none;
        }
      }
    }
  }
}

.post {
  font-size: ms(0);
  & &-title {
    background-color: lightcoral !important;
    font-family: $fontLato;
  }
  & &-info {
    font-family: $text-font-stack;
  }
  & &-description {
    background: #fea;
    font-family: $fontCambo;
  }
  & &-logo {
    //    background: #efaafe;
    margin: 0;
    padding: 0;
  }
}

%grid-list {
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
  flex-flow: wrap row;
  border: 1px solid rgba(0, 0, 0, .925);
  div {
    @include flexfix;
    flex: 1 2 48%;
    @include bckg($colorbody);
    //    flex: 1 2 auto;
    //    border: 1px solid green;
    //    color: darkturquoise;
  }
}

.list-group {
  @extend %grid-list;
  &_item {
    //    width: 48%;
    margin: 0.80rem 1%;
    padding: 0.75rem 1.25rem;
    &:last-child {
      flex: 1 2 100% !important;
    }
  }
  h4 {
    font-family: $fontArvo;
    text-transform: uppercase;
    text-decoration: underline;
  }
  p {
    font-family: fantasy;
  }
}