/**
 * Basic typography style for copy text
 */
@import url('https://fonts.googleapis.com/css?family=Arvo|Cambo|Lato');

 $modularscale: ( base: 1em, ratio: 1.25);
body {
//  color: $text-color;
//  font: normal 125% / 1.4 $text-font-stack;
  font-size: ms(1);
}
 h1{
   font-size: ms(5);
     color: green;
 }
 h2 {
   font-size: ms(4);
     color: #80ff00;
 }
 h3 {
   font-size: ms(3);
     color: #00ff80;
 }
 h4 {
   font-size: ms(2);
     color: #ffff00;
 }
 p{
   font-size: ms(0);
 }
 %text-bigger{
     font-size: ms(1);
 }

